altgraph==0.17.3
click==3.3
future==0.18.2
keyboard==0.13.5
pefile==2022.5.30
Pillow==9.2.0
pip==21.3.1
psutil==5.9.2
pyinstaller-hooks-contrib==2022.10
pyinstaller==5.4.1
PySide2==5.15.2.1
pywin32-ctypes==0.2.0
pywin32==304
setuptools==60.2.0
shiboken2==5.15.2.1
ttkbootstrap==1.9.0
wheel==0.24.0
WMI==1.5.1
